/*Zerar a margem da página*/
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, sans-serif;
    background-color: #efdcdc !important;
}

header{
    background-color: #D09393;
    color: black;
    text-align: center;
    padding: 1em;
}
.img-perfil{
    width: 10%;
    border-radius: 50%;
}
footer{
    background-color: #D09393;
    color: black;
    text-align: center;
    padding: 1em;
}
/*onde estão os Links "imagens do zap, inst...*/
.conteudo{
    background-color: #E5C4C4 !important;
    padding: 1em !important;
    margin-top: 2em !important;
    border-radius: 50px !important;
    width:80%;
}

/*link*/
a{
    text-decoration: none !important;
    color: black !important;
    text-align: center !important;
}
/*muda a largura onde estão os links*/
.principal{
    text-align: center;
    margin-left: 30% !important;
    margin-right: 30% !important;
    margin-top: 1% !important;
    margin-bottom: 15% !important;
}
.img-icone{
    width: 100% !important;
}
.txt-icone{
    font-size: 200% !important;
   /* text-align: center;*/
    /*padding: 0.5em;*/
}
@media (min-width: 200px) and (max-width: 768px){
    .img-icone{
        width: 250% !important;
    }
    .txt-icone{
        font-size: 100% !important;
    }
    .conteudo{
        background-color: #E5C4C4 !important;
        padding: 1em !important;
        margin-top: 2em !important;
        border-radius: 10px !important;
        width: 130%;
    }
    .principal{
        text-align: center;
        margin-left: 20% !important;
        margin-right: 30% !important;
        margin-top: 1% !important;
        margin-bottom: 70% !important;
    }
    .img-perfil{
        width: 30% !important;
        border-radius: 50% !important;
    } 
}